:root {
    --cell-width: 4rem;
}

.cell {
    width: var(--cell-width);
    height: var(--cell-width);
    box-sizing: border-box;
}

.board {
    width: calc(var(--cell-width) * 8);
    height: calc(var(--cell-width) * 8);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    /* Orient chess board to start from bottom left */
    transform: scaleY(-1);
}

.cell[data-row="0"]:nth-child(odd),
.cell[data-row="2"]:nth-child(odd),
.cell[data-row="4"]:nth-child(odd),
.cell[data-row="6"]:nth-child(odd) {
    background-color: green;
}

.cell[data-row="1"]:nth-child(even),
.cell[data-row="3"]:nth-child(even),
.cell[data-row="5"]:nth-child(even),
.cell[data-row="7"]:nth-child(even) {
    background-color: green;
}

.cell:hover {
    border: 2px solid red;
}

.cell:focus {
    border: 2px solid blue;
    outline: none;
}